<template>
  <v-flex sm8 offset-sm2>
    <v-card>
      <v-toolbar dark>
        <v-title>New Message</v-title>
      </v-toolbar>
      <v-form>
        <v-container>
          <v-row>
            <v-text-field v-model="newMessage" label="Type here" required></v-text-field>
          </v-row>
          <v-btn medium @click="postMessage">Post Message</v-btn>
        </v-container>
      </v-form>
    </v-card>
  </v-flex>
</template>

<script>
export default {
  name: "Message",
  data: function() {
    return {
      newMessage: ""
    };
  },
  methods: {
    postMessage() {
      console.log("new msg:" + this.newMessage);
      this.$emit("newMessage", this.newMessage);
    }
  }
};
</script>