<template>
  <v-flex sm8 offset-sm2>
    <v-card>
      <v-toolbar dark>
        <v-title>Messages</v-title>
      </v-toolbar>
      <v-list>
        <v-list-item v-for="(item, index) in msgs" :key="index" @click.prevent>
          <v-list-item-content>
            <v-list-item-title>{{item.message}}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-card>
  </v-flex>
</template>

<script>
export default {
  name: "messages",
  props: ["msgs"]
};
</script>