<template>
  <v-app>
    <v-app-bar app color="primary" dark></v-app-bar>
    <br>
    <v-content class="container">
      <Message @newMessage="newMessage"></Message>
      <br>
      <Messages :msgs="messages"></Messages>
    </v-content>
  </v-app>
</template>

<script>
import Messages from "./components/Messages.vue";
import Message from "./components/Message.vue";
import axios from "axios";

export default {
  name: "App",

  components: {
    Messages,
    Message
  },
  async created() {
    await axios.get("http://localhost:3000/messages").then(response => {
      this.messages = response.data;
    });
  },

  data: () => ({
    messages: []
  }),

  methods:{
    newMessage: function(msg){
      if(msg){
        axios.post("http://localhost:3000/message", {
        "message": msg
      });
      }
      
    }
  }
};
</script>
